@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Someren_Applicatie.Models.Activiteit>

@{
    ViewData["Title"] = "Activities";
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }
}



@*Search form*@
<form method="get" action="/Activities/Index">
    <div class="form-group">
        <label for="search">Filter op name:</label>
        <input type="text" id="search" name="searchString" class="form-control w-25 m-2" placeholder="Vul in activiteit naam">
    </div>


    <button type="submit" class="btn btn-primary">Zoek</button>
</form>


<div class="text-center">
    <h1 class="display-4">Activiteiten</h1>
    <a href="/Activities/Create" class="btn btn-success">Voeg een activiteit toe</a>
    <p>Aantal activiteiten: @Model.Count</p>
<table class="table table-info table-hover">
    <thead>
        <tr>
        <tr class="table-dark">
            <th>Naam</th>
            <th>Starttijd</th>
            <th>Eindtijd</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Activiteit activiteit in Model)
            {
                <tr>
                    <td>@activiteit.Naam</td>
                    <td>@activiteit.StartTijd</td>
                    <td>@activiteit.EindTijd</td>
                    <td>
                        <a href="/Activities/Edit/@activiteit.ActiviteitId" class="btn btn-dark">Bewerken</a>
                        <a href="/Activities/Delete/@activiteit.ActiviteitId" class="btn btn-danger">Verwijderen</a>
                            <a href="/Activities/Supervisor/@activiteit.ActiviteitId" class="btn">View more</a>
                        <a href="/Participants/Index/@activiteit.ActiviteitId" class="btn btn-success">Toon deelnemers</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
