@model List<Someren_Applicatie.Models.Room>
@{
    ViewData["Title"] = "Rooms";
 }
 <!--Index page-->
@{
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }
}
<form action="/Rooms/Index" method="post">

    <!--Filter functionaliteit-->
    <div class="form-group">
        <label for="search">Filter op het aantal slaaplekken:</label>
        <select id="search", name="searchString" class="form-control w-25 m-2">
            <option>Kies een optie</option>
            <option value="1">1 slaapplek</option>
            <option value="8">8 slaapplekken</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary m-2">Search</button>
</form>
<div class="text-center">
    <h1 class="display-4">Slaapkamers</h1>
    <a href="/Rooms/Create" class="btn btn-success">Voeg een slaapkamer toe</a>
    <p>Aantal kamers: @Model.Count</p>
        <table class="table table-info table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Kamernummer</th>
                    <th>Aantal slaapplekken</th>
                    <th>Type kamer</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Room room in Model)
                    {
                        <tr>
                            <td>@room.KamerNummer</td>
                            <td>@room.AantalSlaaplekken</td>
                            <td>@room.TypeKamer</td>
                            <td>
                                <a href="/Rooms/Edit/@room.KamerNummer" class="btn btn-dark btn-hover">Aanpassen</a>
                                <a href="/Rooms/Delete/@room.KamerNummer" class="btn btn-danger btn-hover">Verwijderen</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>



