@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Someren_Applicatie.Models.Lecturer>

@{
    ViewData["Title"] = "Lecturers";
}


<form method="get" action="/Lecturers/Index">
    <div class="form-group">
        <label for="search">Filter op achternaam:</label>
        <input type="text" id="search" name="searchString" class="form-control w-25 m-2" placeholder="Vul in achternaam">
    </div>


    <button type="submit" class="btn btn-primary">Zoek</button>
</form>


<div class="text-center">
    <h1 class="display-4">Docenten</h1>
    <a href="/Lecturers/Create" class="btn btn-success">Voeg een docent toe</a>
    <p>Aantal docenten: @Model.Count</p>
<table class="table table-info table-hover">
    <thead>
        <tr>
        <tr class="table-dark">
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Telefoonnummer</th>
            <th>Leeftijd</th>
            <th>Kamernr</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var lecturer in Model)
            {
                <tr>
                    
                    <td>@lecturer.Voornaam</td>
                    <td>@lecturer.Achternaam</td>
                    <td>@lecturer.TelefoonNr</td>
                    <td>@lecturer.Leeftijd</td>
                    <td>@lecturer.KamerNr</td>
                    <td>
                        <a href="/Lecturers/Edit/@lecturer.DocentNr" class="btn btn-dark">Bewerken</a> |
                        <a href="/Lecturers/Delete/@lecturer.DocentNr" class="btn btn-danger">Verwijderen</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
