@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Someren_Applicatie.Models.Lecturer>

@{
    ViewData["Title"] = "Lecturers";
}

<h3>Docenten</h3>
Alle docenten zijn hier getoond:<br>
<a href="/Lecturers/Create">Docent aanmaken</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Docentnr</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Telefoonnummer</th>
            <th>Leeftijd</th>
            <th>Kamernr</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var lecturer in Model)
            {
                <tr>
                    <td>@lecturer.DocentNr</td>
                    <td>@lecturer.Voornaam</td>
                    <td>@lecturer.Achternaam</td>
                    <td>@lecturer.TelefoonNr</td>
                    <td>@lecturer.Leeftijd</td>
                    <td>@lecturer.KamerNr</td>
                    <td>
                        <a href="/Lecturers/Edit/@lecturer.DocentNr" class="btn btn-dark">Bewerken</a> |
                        <a href="/Lecturers/Delete/@lecturer.DocentNr" class="btn btn-danger">Verwijderen</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
