@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Someren_Applicatie.Models.Student>
@{
    ViewData["Title"] = "Studenten";
}

<h3>Studenten</h3>
<a href="/Students/Create">Student aanmaken</a>

<table class="table table-info table-hover">
    <thead>
        <tr class="table-dark">
            <th>StudentNr</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Telefoon nummer</th>
            <th>Klas</th>
            <th>KamerNr</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentNr</td>
                    <td>@student.Voornaam</td>
                    <td>@student.Achternaam</td>
                    <td>@student.TelefoonNr</td>
                    <td>@student.Klas</td>
                    <td>@student.KamerNr</td>
                    <td>
                        <a href="/Students/Edit/@student.StudentNr" class="btn btn-dark">Bewerken</a>
                        <a href="/Students/Delete/@student.StudentNr" class="btn btn-danger">Verwijderen</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
